%h1 Meet The Contenders!

%table{:class=>'contenders', :cellspacing=>0}
  %%tr
    %th name
    %th Line of Code
    %th Exluding Tests
  - @contenders.each do |contender|
    %tr
      %td= "<a href='/contender/#{contender.name}'>#{contender.name}</a>"
      %td{:class=>'loc'}
        = "#{contender.loc}" 
      %td{:class=>'wot_loc'}
        =# contender.cloc_no_test(contender.to_s)['Ruby']["code"] rescue '-'
        %script{ 'type' => "text/" + "javascript"}
          ="data=#{contender.yaml_loc_report}"
%br
%div
  %img{:src=>"images/I_coulda_been_a_contender.jpg"}
  
%script{ 'type' => "text/" + "javascript"}
  ="data=#{@contenders.first}"